:root {
  font-family: sans-serif;
}

.userCard {
  margin: 10px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 0 5px grey;
  width: 100%;
  min-height: 250px;
  border-radius: 10%;
  position: relative;
}

.userCard > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.userCard > h2 {
  padding: 10px;
  width: 100%;
}

.btnAddFollowers {
  background-color: white;
  border-radius: 50%;
  padding: 10px 15px;
  font-size: large;
  position: absolute;
  bottom: 35%;
  border: none;
  cursor: pointer;
}
